//- doctype html
//- html
//-   head
//-     title= 'blog'
//-     link(rel='stylesheet' href='/stylesheets/style.css')
//-     meta(charset="UTF-8")
//-     link(rel="icon" href="/favicon.ico")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     link(rel="stylesheet" href="//at.alicdn.com/t/c/font_2506935_sgem14pir8.css")
//-     script(type="module" crossorigin src="/static/js/index-ce1e40c8.js")
//-     link(rel="stylesheet" href="/static/css/name-a3b802db.css")
//-   body
//-     div(id="app")
extends layout

block content
  h1= title
  p Welcome to #{title}